<!DOCTYPE html>
<html>
<head>
	<title>Jeith</title>
	<% include ./partials/head.ejs %>
</head>

<body class="home" id="home">
	<% include ./partials/header.ejs %>

	<section class="hero">
		<div class="background-shapes">
			<div class="rectangle curved" id="rectangle-1"></div>
			<div class="rectangle curved" id="rectangle-2"></div>
			<div class="rectangle curved" id="rectangle-3"></div>
			<div class="rectangle curved" id="rectangle-4"></div>
			<div class="rectangle curved" id="rectangle-5"></div>
			<div class="square curved" id="square-1"></div>
			<div class="square curved" id="square-2"></div>
			<div class="square curved" id="square-3"></div>
			<div class="square curved" id="square-4"></div>
			<div class="square curved" id="square-5"></div>
			<div class="square curved" id="square-6"></div>
			<div class="square curved sm" id="square-7"></div>
			<div class="circle" id="circle-1"></div>
			<div class="circle" id="circle-2"></div>
			<div class="circle" id="circle-3"></div>
			<div class="circle" id="circle-4"></div>
			<div class="circle" id="circle-5"></div>
			<div class="circle" id="circle-6"></div>
			<div class="circle" id="circle-7"></div>
			<div class="circle" id="circle-8"></div>
		</div>

		<h1>jeith.</h1>
	</section>

	<section class="about-me">
		<div class="background-shapes">
			<div class="rectangle curved" id="rectangle-3"></div>
			<div class="rectangle curved" id="rectangle-6"></div>
			<div class="square curved" id="square-3"></div>
			<div class="square curved" id="square-4"></div>
			<div class="square curved" id="square-6"></div>
			<div class="square curved sm" id="square-7"></div>
			<div class="square curved sm" id="square-8"></div>
			<div class="square curved" id="square-9"></div>
			<div class="circle" id="circle-1"></div>
			<div class="circle" id="circle-6"></div>
			<div class="circle" id="circle-7"></div>
			<div class="circle" id="circle-8"></div>
		</div>

		<div class="section-wrapper">
			<div class="textbox">
				<div>
					<h2>Hi, my name is Jeith!</h2>
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				</div>
	
				<div class="technologies">
					<h2>Technologies I've been using:</h2>
	
					<div class="technologies-container">
						<div class="technology">
							<p>React</p>
						</div>
						<div class="technology">
							<p>React Native</p>
						</div>
						<div class="technology">
							<p>Node.js</p>
						</div>
						<div class="technology">
							<p>JavaScript</p>
						</div>
						<div class="technology">
							<p>Python</p>
						</div>
						<div class="technology">
							<p>Flask</p>
						</div>
						<div class="technology">
							<p>HTML5</p>
						</div>
						<div class="technology" id="sass">
							<p>Sass/SCSS</p>
						</div>
						<div class="technology" id="css">
							<p>CSS3</p>
						</div>
						<div class="technology">
							<p>PostgreSQL</p>
						</div>
						<div class="technology">
							<p>OpenLayers</p>
						</div>
						<div class="technology">
							<p>Wordpress</p>
						</div>
						<a href="https://github.com/Jeith" target="_blank" class="technology">
							<p>Git</p>
						</a>
						<div class="technology">
							<p>Heroku</p>
						</div>
						<div class="technology">
							<p>RESTful API design</p>
						</div>
					</div>
				</div>
			</div>
			<div class="img-wrapper">
				<img src="./../assets/about-placeholder.jpeg" alt="" />
			</div>
		</div>
	</section>
	<section class="project-section">
		<h2>Projects</h2>
		
		<div class="project first">
			<div class="image-container">
				<div class="image-wrapper">
					<img src="./../assets/jeith.png" />
				</div>
			</div>

			<div class="text">
				<!-- do some effect on click instead -->
				<a href="#" target="_blank">
					<h4>jeith.com</h4>
				</a>
				<span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				<div class="technologies-container">
					<div class="technology">
						<p>Technologies Used:</p>
					</div>
					<div class="technology">
						<p class="teal">Node.js</p>
					</div>
					<div class="technology">
						<p class="orange">HTML5</p>
					</div>
					<div class="technology">
						<p class="yellow">Sass/CSS3</p>
					</div>
				</div>
			</div>
		</div>
		<div class="project reverse">
			<div class="image-container">
				<div class="image-wrapper">
					<img src="./../assets/the-palette-center.png" />
				</div>
			</div>

			<div class="text">
				<a href="https://palettecenter.herokuapp.com/" target="_blank">
					<h4>thepalettecenter.com</h4>
				</a>
				<span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				<div class="technologies-container">
					<div class="technology">
						<p>Technologies Used:</p>
					</div>
					<div class="technology">
						<p class="teal">React</p>
					</div>
					<div class="technology">
						<p class="blue">Colors API</p>
					</div>
					<div class="technology">
						<p class="orange">HTML5</p>
					</div>
					<div class="technology">
						<p class="yellow">CSS3</p>
					</div>
				</div>
			</div>
		</div>
		<div class="project">
			<div class="image-container">
				<div class="image-wrapper">
					<img src="./../assets/the-palette-center.png" />
				</div>
			</div>

			<div class="text">
				<a href="https://palettecenter.herokuapp.com/" target="_blank">
					<h4>thepalettecenter.com</h4>
				</a>
				<span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				<div class="technologies-container">
					<div class="technology">
						<p>Technologies Used:</p>
					</div>
					<div class="technology">
						<p class="teal">React</p>
					</div>
					<div class="technology">
						<p class="blue">Colors API</p>
					</div>
					<div class="technology">
						<p class="orange">HTML5</p>
					</div>
					<div class="technology">
						<p class="yellow">CSS3</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		this.setTimeout(() => {
			document.getElementById("home").classList.add("loaded")
		}, 750)
		$("#square-1").click(() => {
			$("#home").toggleClass("dark-mode")
		})
	</script>

	<% include ./partials/footer.ejs %>
</body>