<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body class="home">
	<section class="hero">
		<div class="section-wrapper">
			<div class="textbox light center">
				<h1>Tagline</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</section>
</body>

<% include ./partials/footer.ejs %>