<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jeith</title>
	<% include ./partials/head.ejs %>
</head>

<body class="home loaded" id="home">
	<section class="hero">
		<div class="background-shapes">
			<div class="rectangle curved" id="rectangle-1"></div>
			<div class="rectangle curved" id="rectangle-2"></div>
			<div class="rectangle curved" id="rectangle-3"></div>
			<div class="rectangle curved" id="rectangle-4"></div>
			<div class="rectangle curved" id="rectangle-5"></div>
			<div class="square curved" id="square-1"></div>
			<div class="square curved" id="square-2"></div>
			<div class="square curved" id="square-3"></div>
			<div class="square curved" id="square-4"></div>
			<div class="square curved" id="square-5"></div>
			<div class="square curved" id="square-6"></div>
			<div class="square curved sm" id="square-7"></div>
			<div class="circle" id="circle-1"></div>
			<div class="circle" id="circle-2"></div>
			<div class="circle" id="circle-3"></div>
			<div class="circle" id="circle-4"></div>
			<div class="circle" id="circle-5"></div>
			<div class="circle" id="circle-6"></div>
			<div class="circle" id="circle-7"></div>
			<div class="circle" id="circle-8"></div>
		</div>

		<h1>jeith.</h1>
	</section>

	<section class="about-me">
		<div class="background-shapes">
			<div class="rectangle curved" id="rectangle-3"></div>
			<div class="rectangle curved" id="rectangle-6"></div>
			<div class="square curved" id="square-3"></div>
			<div class="square curved" id="square-4"></div>
			<div class="square curved" id="square-6"></div>
			<div class="square curved sm" id="square-7"></div>
			<div class="square curved sm" id="square-8"></div>
			<div class="square curved" id="square-9"></div>
			<div class="circle" id="circle-1"></div>
			<div class="circle" id="circle-6"></div>
			<div class="circle" id="circle-7"></div>
			<div class="circle" id="circle-8"></div>
		</div>

		<div class="section-wrapper">
			<div class="textbox">
				<div>
					<h2>Hi, my name is Keith!</h2>
					<span>I'm a full stack software developer from Houston, TX. I've been coding for over 3 years, and I'm most proficient in web & mobile app development. I first started as a hobbyist developer by learning how to code on my own through <a rel="noreferrer" href="https://www.theodinproject.com/" target="_blank">The Odin Project</a> and <a rel="noreferrer" href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a> in early 2018. Later on that year, I attended <a rel="noreferrer" href="https://www.digitalcrafts.com/" target="_blank">DigitalCrafts</a> where I learned how to build full stack web applications. Since attending coding bootcamp, I've been working professionally as a software engineer at a startup where I build and deploy web and mobile applications using React, Node.js, and various other technologies.<br/></span>
				</div>
	
				<div class="technologies">
					<h2>Technologies I've been using:</h2>
	
					<div class="technologies-container">
						<div class="technology">
							<p>JavaScript</p>
						</div>
						<div class="technology">
							<p>Python</p>
						</div>
						<div class="technology">
							<p>React</p>
						</div>
						<div class="technology">
							<p>Redux</p>
						</div>
						<div class="technology">
							<p>React Native</p>
						</div>
						<div class="technology">
							<p>Node.js</p>
						</div>
						<div class="technology">
							<p>jQuery</p>
						</div>
						<div class="technology">
							<p>HTML5</p>
						</div>
						<div class="technology" id="sass">
							<p>Sass/SCSS</p>
						</div>
						<div class="technology" id="css">
							<p>CSS3</p>
						</div>
						<div class="technology">
							<p>EJS</p>
						</div>
						<div class="technology">
							<p>Flask</p>
						</div>
						<a rel="noreferrer" href="https://socket.io/" target="_blank" class="technology">
							<p>Socket.io</p>
						</a>
						<div class="technology">
							<p>PostgreSQL</p>
						</div>
						<a rel="noreferrer" href="https://openlayers.org/" target="_blank" class="technology">
							<p>OpenLayers</p>
						</a>
						<div class="technology">
							<p>Wordpress</p>
						</div>
						<a rel="noreferrer" href="https://github.com/Jeith" target="_blank" class="technology">
							<p>Git</p>
						</a>
						<div class="technology">
							<p>AWS</p>
						</div>
						<div class="technology">
							<p>Heroku</p>
						</div>
						<div class="technology">
							<p>Cloudflare</p>
						</div>
						<div class="technology">
							<p>Responsive web design</p>
						</div>
						<div class="technology">
							<p>RESTful API design</p>
						</div>
					</div>
				</div>
			</div>
			<div class="img-wrapper">
				<img src="./../assets/about-placeholder.jpeg" alt="Photograph of a Macintosh Plus computer." />
			</div>
		</div>
	</section>
	<section class="project-section">
		<div class="section-wrapper">
			<h2>Projects</h2>

			<div class="project first">
				<div class="image-container">
					<div class="image-wrapper">
						<img src="./../assets/projects/pennystreams.png" alt="This is a full size screenshot the Pennystreams website." />
					</div>
				</div>

				<div class="text">
					<a href="https://pennystreams.com" target="_blank">
						<h3>pennystreams.com</h3>
					</a>
					<span>Pennystreams is latest project that I've been working on. Pennystreams uses different APIs to get artists' Spotify playcount and calculate artists' spotify payouts based off of it.</span>
					<div class="technologies-container">
						<div class="technology">
							<p>Technologies Used:</p>
						</div>
						<div class="technology">
							<p class="teal">Node.js</p>
						</div>
						<div class="technology">
							<p class="orange">HTML5</p>
						</div>
						<div class="technology">
							<p class="yellow">Sass/CSS3</p>
						</div>
						<div class="technology">
							<p class="blue">Spotify API</p>
						</div>
					</div>
				</div>
			</div>
			<div class="project reverse">
				<div class="image-container">
					<div class="image-wrapper">
						<img src="./../assets/projects/jeith.png" alt="This is a full size screenshot of the site your on!" />
					</div>
				</div>

				<div class="text">
					<a id="jeith">
						<h3>jeith.com</h3>
					</a>
					<span>I started working on this website in early 2021 so that I could have a way to showcase my some of my projects. This node application is a PWA and was styled with custom SCSS.</span>
					<div class="technologies-container">
						<div class="technology">
							<p>Technologies Used:</p>
						</div>
						<div class="technology">
							<p class="teal">Node.js</p>
						</div>
						<div class="technology">
							<p class="orange">HTML5</p>
						</div>
						<div class="technology">
							<p class="yellow">Sass/CSS3</p>
						</div>
					</div>
				</div>
			</div>
			<div class="project">
				<div class="image-container">
					<div class="image-wrapper">
						<img src="./../assets/projects/the-palette-center.png" alt="Full sized screenshot of the Palette Center website. The website contains 20 randomly generated color palettes centered on the page with the title of the site at the top." />
					</div>
				</div>

				<div class="text">
					<a rel="noreferrer" href="https://palettecenter.herokuapp.com/" target="_blank">
						<h3>thepalettecenter.com</h3>
					</a>
					<span>The Palette Center is a project that I created in 2018. This web application is built with React and Redux and can be used to randomly generated different color palettes.</span>
					<div class="technologies-container">
						<div class="technology">
							<p>Technologies Used:</p>
						</div>
						<div class="technology">
							<p class="teal">React</p>
						</div>
						<div class="technology">
							<p class="red">Redux</p>
						</div>
						<div class="technology">
							<p class="blue">Colors API</p>
						</div>
						<div class="technology">
							<p class="orange">HTML5</p>
						</div>
						<div class="technology">
							<p class="yellow">CSS3</p>
						</div>
					</div>
				</div>
			</div>
			<div class="project reverse">
				<div class="image-container">
					<div class="image-wrapper">
						<img src="./../assets/projects/snowhouse.png" alt="Full sized screenshot of the text-based Hero RPG. The game is running in a terminal with a black background and white text." />
					</div>
				</div>

				<div class="text">
					<a rel="noreferrer" href="https://snowhouse.herokuapp.com/" target="_blank">
						<h3>Snowhouse Website</h3>
					</a>
					<span>This is a website I built for a cafe in Pasadena, TX. I built this in 2018 when I was learning more about front-end development.</span>
					<div class="technologies-container">
						<div class="technology">
							<p>Technologies Used:</p>
						</div>
						<div class="technology">
							<p class="teal">Node.js</p>
						</div>
						<div class="technology">
							<p class="orange">HTML5</p>
						</div>
						<div class="technology">
							<p class="yellow">CSS3</p>
						</div>
					</div>
				</div>
			</div>
			<div class="project">
				<div class="image-container">
					<div class="image-wrapper" style="overflow-y: hidden;">
						<img src="./../assets/projects/tofu-village.png" alt="Full sized screenshot of the text-based Hero RPG. The game is running in a terminal with a black background and white text." />
					</div>
				</div>

				<div class="text">
					<a rel="noreferrer" href="https://tofu-village.herokuapp.com/index.html" target="_blank">
						<h3>Tofu Village Website</h3>
					</a>
					<span>This is a website I built for a restaurant in Houston, TX. I built this in 2018 when I was learning CSS3 and Bootstrap.</span>
					<div class="technologies-container">
						<div class="technology">
							<p>Technologies Used:</p>
						</div>
						<div class="technology">
							<p class="teal">JavaScript</p>
						</div>
						<div class="technology">
							<p class="orange">HTML5</p>
						</div>
						<div class="technology">
							<p class="yellow">CSS3</p>
						</div>
					</div>
				</div>
			</div>
			<div class="project reverse">
				<div class="image-container">
					<div class="image-wrapper">
						<img src="./../assets/projects/hero-rpg.png" alt="Full sized screenshot of the text-based Hero RPG. The game is running in a terminal with a black background and white text." />
					</div>
				</div>

				<div class="text">
					<a rel="noreferrer" href="https://github.com/Jeith/Basic-Hero-RPG" target="_blank">
						<h3>Text-based Hero RPG</h3>
					</a>
					<span>This text-based hero RPG is a game that I created when I was learning Python 3 in 2018. This game allows players to fight different ASCII art creatures that drop coins, and the player can use these coins to purchase items. Users can play this game by running the <a rel="noreferrer" href="https://github.com/Jeith/Basic-Hero-RPG/blob/master/hero-rpg.py" target="_blank">hero-rpg.py</a> file through their Python compiler.</span>
					<div class="technologies-container">
						<div class="technology">
							<p>Technologies Used:</p>
						</div>
						<div class="technology">
							<p class="teal">Python</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ./partials/footer.ejs %>
</body>