// ~~~~~~~~~~~~~~~~ VARS ~~~~~~~~~~~~~~~~
$mustard-yellow: #F6CA10;
$red: #E73A2A;
$orange: #FC8300;
$blue: #355CB0;
$teal: #6CCEAF;

// ~~~~~~~~~~~~~~~~ FONTS ~~~~~~~~~~~~~~~~
@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
 
html { font-family: "Inter", "system-ui"; }
 
@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui"; }
}

// ~~~~~~~~~~~~~~~~ MIXINS ~~~~~~~~~~~~~~~~
@mixin appearance($val) {
  -webkit-appearance: $val;
  -moz-appearance: $val;
  -ms-appearance: $val;
  -o-appearance: $val;
  appearance: $val;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

@mixin animation($animation, $duration, $timing-function: false, $delay: false, $direction: false, $iteration-count: false) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-direction: $direction;
  -webkit-animation-timing-function: $timing-function;
  -webkit-animation-iteration-count: $iteration-count;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-direction: $direction;
  -moz-animation-timing-function: $timing-function;
  -moz-animation-iteration-count: $iteration-count;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-direction: $direction;
  animation-timing-function: $timing-function;
  animation-iteration-count: $iteration-count;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin clip-path($clip...) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  filter: $value;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin user-select($val) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

// ~~~~~~~~~~~~~~~~ KEYFRAMES ~~~~~~~~~~~~~~~~
@keyframes bobble-1 {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(17deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(-25px, -25px, 0px) rotate(17deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotate(17deg);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotating-counter-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes color-flash {
  0% {
    color: $mustard-yellow;
  }
  25% {
    color: $orange;
  }
  50% {
    color: $red;
  }
  75%{
    color: $blue;
  }
  100% {
    color: $teal;
  }
}

@keyframes rotate-and-stop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-and-stop-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-65deg);
  }
}

@keyframes squish-1 {
  0% {
    transform: translate3d(0, 0, 0);
    height: 15px;
    width: 25px;
  }
  50% {
    transform: translate3d(-5px, 0, 0);
    height: 25px;
    width: 15px;
  }
  100% {
    transform: translate3d(0, 0, 0);
    height: 15px;
    width: 25px;
  }
}
@keyframes disappearing-color-change-1 {
  0% {
    background-color: $orange;
    height: 35px;
    width: 35px;
  }
  25% {
    background-color: $orange;
    height: 0;
    width: 0;
    transform: translateY(15px);
  }
  26% {
    background-color: $teal;
    height: 0;
    width: 0;
  }
  50% {
    background-color: $teal;
    height: 35px;
    width: 35px;
  }
  75% {
    background-color: $teal;
    height: 0;
    width: 0;
    transform: translateX(25px);
  }
  76% {
    background-color: $orange;
    height: 0;
    width: 0;
  }
  100% {
    background-color: $orange;
    height: 35px;
    width: 35px;
  }
}
@keyframes disappearing-color-change-2 {
  0% {
    background-color: $orange;
    height: 35px;
    width: 35px;
  }
  25% {
    background-color: $teal;
    height: 0;
    width: 0;
    transform: translate3d(15px, 0, 0);
  }
  50% {
    background-color: $teal;
    height: 35px;
    width: 35px;
  }
  75% {
    background-color: $teal;
    height: 0;
    width: 0;
    transform: translate3d(0, -25px, 0);
  }
  100% {
    background-color: $orange;
    height: 35px;
    width: 35px;
    transform: translate3d(0, 0, 0);
  }
}

// ~~~~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~~~
@charset "UTF-8";
html, body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  @include border-box;
  font-weight: unset;
}
h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
}
h2, h4, span{
  display: inline;
  background-color: black;
  color: white;
}
h2{
  padding-bottom: 3px;
  margin-left: 20px;
  font-size: 33px;
  font-weight: 700;
  z-index: 1;

  &:before{
    content: "";
    background-color: black;
    transform: skewX(-25deg);
    display: block;
    position: absolute;
    top: 0;
    left: -3%;
    width: 106%;
    height: 100%;
    z-index: -1;
  }
}
span {
  font: inherit;
}
section {
  width: 100%;
  padding: 60px;
}
.hide,
.hidden {
  display: none !important;
}
.img-wrapper{
  img{
    width: 100%;
  }
}

body {
  .rectangle{
    transform: rotate(45deg);
    height: 25px;
    width: 25px;

    &#rectangle-1{
      background-color: $red;
      transform: rotate(45deg);
      position: absolute;
      right: 18%;
      top: 12%;
      height: 15px;
    }
    &#rectangle-2{
      background-color: $red;
      transform: rotate(-60deg);
      position: absolute;
      left: 27%;
      bottom: 15%;
      width: 15px;
    }
    &#rectangle-3{
      background-color: $red;
      transform: rotate(45deg);
      position: absolute;
      left: 9%;
      top: 6%;
      width: 15px;
    }
    &#rectangle-4{
      background-color: $teal;
      transform: rotate(45deg);
      position: absolute;
      right: 9%;
      bottom: 22%;
      width: 15px;
    }
    &#rectangle-5{
      background-color: $teal;
      transform: rotate(74deg);
      position: absolute;
      left: 38%;
      top: 12%;
      width: 15px;
    }
    &#rectangle-6{
      background-color: $teal;
      transform: rotate(74deg);
      position: absolute;
      left: 48%;
      bottom: 0%;
      width: 15px;
    }
  }
  .square{
    @include transition(all .25s ease-in-out);
    height: 65px;
    width: 65px;

    &.sm{
      width: 50px;
      height: 50px;
    }

    &#square-1{
      @include animation(rotating-counter-clockwise, 60s, $timing-function: linear, $iteration-count: infinite);
      background-color: $red;
      transform: rotate(-3deg);
      position: absolute;
      right: 35%;
      bottom: 20%;
    }
    &#square-2{
      @include animation(rotate-and-stop-2, 10s, $timing-function: ease-in-out, $iteration-count: 1);
      background-color: $red;
      transform: rotate(-65deg);
      position: absolute;
      left: 20%;
      top: 21%;
    }
    &#square-3{
      background-color: $teal;
      transform: rotate(45deg);
      position: absolute;
      left: 9%;
      bottom: 6%;
    }
    &#square-4{
      @include animation(rotate-and-stop, 10s, $timing-function: ease-in-out, $iteration-count: 1);
      background-color: $red;
      transform: rotate(45deg);
      position: absolute;
      right: 3%;
      top: 29%;
    }
    &#square-5{
      @include animation(rotating, 60s, $timing-function: linear, $iteration-count: infinite);
      background-color: $orange;
      transform: rotate(-24deg);
      position: absolute;
      right: 36%;
      top: -2%
    }
    &#square-6{
      @include animation(rotating, 60s, $timing-function: linear, $iteration-count: infinite);
      background-color: $orange;
      transform: rotate(-33deg);
      position: absolute;
      left: -1%;
      top: 47%;
    }
    &#square-7{
      @include animation(bobble-1, 21s, $timing-function:ease-in-out, $iteration-count:infinite);
      background-color: $teal;
      position: absolute;
      right: 22%;
      top: 37%;
    }
    &#square-8{
      @include animation(bobble-1, 21s, $timing-function:ease-in-out, $iteration-count:infinite);
      background-color: $teal;
      position: absolute;
      right: 0%;
      bottom: 4%;
    }
    &#square-9{
      @include animation(rotating, 60s, $timing-function: linear, $iteration-count: infinite);
      background-color: $orange;
      transform: rotate(-24deg);
      position: absolute;
      right: 58%;
      top: 0%;
    }
  }
  .circle{
    border-radius: 50%;
    height: 35px;
    width: 35px;

    &#circle-1{
      background-color: $orange;
      position: absolute;
      right: 17%;
      bottom: 5%;
    }
    &#circle-2{
      // @include animation(disappearing-color-change-1, 10s, $timing-function: linear, $iteration-count: infinite);
      background-color: $orange;
      position: absolute;
      left: 17%;
      bottom: 32%;
    }
    &#circle-3{
      // @include animation(bobble-1, 30s, $timing-function:ease-in-out, $iteration-count:infinite);
      background-color: $red;
      position: absolute;
      left: 48%;
      top: 22%;
    }
    &#circle-4{
      @include animation(bobble-1, 28s, $timing-function:ease-in-out, $iteration-count:infinite);
      background-color: $teal;
      position: absolute;
      left: 6%;
      top: 22%;
    }
    &#circle-5{
      background-color: $orange;
      position: absolute;
      right: 11%;
      bottom: 40%;
      width: 60px;
      height: 60px;
    }
    &#circle-6{
      @include transition(all .25s ease-in-out);
      background-color: $teal;
      transform: rotate(45deg);
      position: absolute;
      right: 2%;
      top: 1%;
      height: 74px;
    }
    &#circle-7{
      @include transition(all .25s ease-in-out);
      background-color: $teal;
      transform: rotate(-13deg);
      position: absolute;
      left: 41%;
      bottom: 26%;
      width: 65px;

      &:hover {
        transform: rotate(0deg);
        background-color: #385CAD;
        top: 0;
        right: 0;
        border-radius: 0;
        height: 100vh;
        width: 100vw
      }
    }
    &#circle-8{
      background-color: $orange;
      transform: rotate(-13deg);
      position: absolute;
      left: 52%;
      bottom: 10%;
    }
  }
  .curved{
    border-radius: 5px;
  }

  &.home {
    max-height: 100vh;
    overflow: hidden;
    &.loaded{
      max-height: 100%;
      overflow: initial;
      .hero {
        &:after{
          opacity: 0;
        }
      }
    }
    .hero {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      background-color: $mustard-yellow;
      min-height: 100vh;
      min-width: calc(100vw - 30px);

      &:after{
        content: "";
        @include transition(all .25s ease-in-out);
        pointer-events: none;
        background-color: $red;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 15;
      }

      h1{
        @include user-select(none);
        cursor: default;
        text-align: center;
        color: white;
        font-size: 225px;
        font-weight:700;
      }
    }
    .hero {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
    }
  }
  .about-me{
    background-color: #F6CA10;

    .section-wrapper{
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);
      background-color: $orange;
      border-top: none;
      padding: 60px;
      &:after{
        content: "";
        @include box-shadow(-1px 0px 9px -1px rgba(0, 0, 0, .50));
        pointer-events: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
    }
    span{
      line-height: 22px;

      &:before{
        content: "";
        width: 100%;
        height: 15px;
        display: block;
      }
    }
    .textbox{
      display: inline;
      width: 60%;
    }
    .img-wrapper{
      width: 25%;
      height: fit-content;
      block-size: fit-content;

      &:before{
        content: "";
        @include transition(all .25s ease-in-out);
        background-color: $red;
        position: absolute;
        top: 10px;
        left: 15px;
        width: 100%;
        height: 100%;
      }
      img{
        @include transition(all .25s ease-in-out);
      }

      // &:before{
      //   content: "";
      //   @include transition(all .25s ease-in-out);
      //   background-color: $red;
      //   position: absolute;
      //   top: 10px;
      //   left: 15px;
      //   width: 100%;
      //   height: 100%;
      // }

      &:hover{
        &:before{
          border-radius: 15px;
          top: -15px;
          left: -15px;
          width: calc(100% + 30px);
          height: calc(100% + 30px);
        }
        img{
          border-radius: 15px;
        }
      }
    }
    .technologies{
      padding-top: 40px;
    }
    // .technologies-container{
    //   @include display-flex;
    //   @include flex-wrap(wrap);
    //   padding-top: 20px;

    //   .technology{
    //     @include display-flex;
    //     @include flex-direction(column);
    //     @include justify-content(center);
    //     @include align-items(center);
    //     background: black;
    //     padding: 5px 10px;
    //     margin: 0px 20px 10px 0;

    //     p{
    //       font-weight: 700;
    //       color: white;
    //       text-align: center;
    //     }
    //   }
    // }
  }
  .technologies-container{
    @include display-flex;
    @include flex-wrap(wrap);
    padding-top: 20px;

    .technology{
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      background: black;
      padding: 5px 10px;
      margin: 0px 20px 10px 0;

      &#css{
        &:hover{
          @include animation(rotating-counter-clockwise, 1s, $timing-function: linear, $iteration-count: infinite);
        }
      }
      &#sass{
        &:hover{
          @include animation(rotating, .5s, $timing-function: linear, $iteration-count: infinite);

          p{
            @include animation(color-flash, 1s, $timing-function: ease-in-out, $iteration-count: infinite);
          }
        }
      }

      p{
        font-weight: 700;
        color: white;
        text-align: center;

        &.orange{
          color: $orange;
        }
        &.blue{
          color: $blue;
        }
        &.yellow{
          color: $mustard-yellow;
        }
        &.teal{
          color: $teal;
        }
        &.red{
          color: $red;
        }
      }
    }
  }
  .project-section{
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    padding: 60px 110px 110px;
    background-color: $orange;

    h2{
      width: 127px;

      &:before{
        left: -8%;
        width: 116%;
      }
    }

    .project{
      @include display-flex;
      @include justify-content(space-between);
      padding-top: 100px;

      &.first{
        padding-top: 80px;
      }
      &.reverse{
        @include flex-direction(row-reverse);

        .image-container{
          &:before{
            left: 15px;
            border-radius: 0 0 25px 0;
          }
        }
      }
      .image-container{
        width: 47%;
        height: 260px;

        &:before{
          content: "";
          @include transition(all .25s ease-in-out);
          background-color: $red;
          position: absolute;
          top: 15px;
          right: 15px;
          width: 100%;
          height: 100%;
          border-radius: 0 0 0 25px;
        }
      }
      .image-wrapper{
        width: 100%;
        height: 100%;
        overflow: auto;
  
        &:before{
          content: "";
          @include transition(all .25s ease-in-out);
          background-color: $red;
          position: absolute;
          top: 10px;
          left: 15px;
          width: 100%;
          height: 100%;
        }

        img{
          width: 100%;
        }
      }
      .text{
        @include display-flex;
        @include flex-direction(column);
        width: 47%;

        h4{
          font-size: 26px;
          font-weight: 700;
          padding: 5px 13px;
          border-radius: 90px 100px 35px 80px;
        }
        span{
          display: block;
          margin-top: 15px;
        }
      }
      .technologies-container{
        padding-top: 15px;

        div{
          
        }
      }
    }
  }
}

footer {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  cursor: pointer;
  background-color: black;
  padding: 25px 35px;

  i{
    font-size: 24px;
    color: white;
  }

  h4{
     text-align: center;
     font-weight: 700;
     font-size: 16px;
   }
}


@media all and (max-width: 1279px) {
}
@media all and (max-width: 1139px) {
}
@media all and (max-width: 1023px) {
}
@media all and (max-width: 900px) {
}
@media all and (max-width: 767px) {
}
@media all and (max-width: 639px) {
}
@media all and (max-width: 500px) {
}
@media all and (max-width: 400px) {
}